go 1.22

toolchain go1.22.1

// This workspace file is purely for maintenance.
// Please check the workspace file in the chapter folders.

use (
	./chapter9/client
	./chapter9/proto
	./chapter9/server
	./helpers
)
